@using Crossout.Web
@using Crossout.Web.Models.Filter
@model Crossout.Web.Models.General.SearchModel

<div class="card my-1 px-1 d-none" id="filterWrapper">
    <div class="d-flex justify-content-center my-1 row" id="dropdownFilter">
        <div class="btn-group btn-group-sm align-self-start col" role="group">
            <button id="factionsDropdown" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Faction
            </button>
            <div class="dropdown-menu" aria-labelledby="factionsDropdown">
                @foreach (FilterItem item in Model.FilterModel.Factions)
                {
                    <a class="dropdown-item item-filter filter-faction">@item.Name</a>
                }
            </div>
        </div>
        <div class="btn-group btn-group-sm align-self-start col" role="group">
            <button id="categoryDropdown" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
            </button>
            <div class="dropdown-menu" aria-labelledby="categoryDropdown">
                @foreach (FilterItem item in Model.FilterModel.Categories)
                {
                    <a class="dropdown-item item-filter filter-category">@item.Name</a>
                }
            </div>
        </div>
        <div class="btn-group btn-group-sm align-self-start col" role="group">
            <button id="rarityDropdown" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rarity
            </button>
            <div class="dropdown-menu" aria-labelledby="rarityDropdown">
                @foreach (FilterItem item in Model.FilterModel.Rarities)
                {
                    <a class="dropdown-item item-filter filter-rarity">@item.Name</a>
                }
            </div>
        </div>
        <div class="btn-group btn-group-sm align-self-start col" role="group">
            <button id="otherDropdown" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other
            </button>
            <div class="dropdown-menu" aria-labelledby="otherDropdown">
                <a class="dropdown-item item-filter filterCraftableItems">Craftable</a>
                <a class="dropdown-item item-filter filterRemovedItems">Removed</a>
                <a class="dropdown-item item-filter filterMetaItems">Meta</a>
            </div>
        </div>
    </div>

    <div class="d-none justify-content-center my-1 row" id="expandedFilter">
        <div class="btn-group-vertical btn-group-sm align-self-start col" role="group" aria-label="Faction Filter">
            @foreach (FilterItem item in Model.FilterModel.Factions)
            {
                <button class="btn btn-outline-secondary item-filter filter-faction" type="button">@item.Name</button>
            }
        </div>
        <div class="btn-group-vertical btn-group-sm align-self-start col" role="group" aria-label="Category Filter">
            @foreach (FilterItem item in Model.FilterModel.Categories)
            {
                <button class="btn btn-outline-secondary item-filter filter-category" type="button">@item.Name</button>
            }
        </div>
        <div class="btn-group-vertical btn-group-sm align-self-start col" role="group" aria-label="Rarity Filter">
            @foreach (FilterItem item in Model.FilterModel.Rarities)
            {
                <button class="btn btn-outline-secondary item-filter filter-rarity" type="button">@item.Name</button>
            }
        </div>
        <div class="btn-group-vertical btn-group-sm align-self-start col" role="group" aria-label="Special filter">
            <button class="btn btn-outline-secondary item-filter filterCraftableItems">Craftable</button>
            <button class="btn btn-outline-secondary item-filter filterRemovedItems">Removed</button>
            <button class="btn btn-outline-secondary item-filter filterMetaItems">Meta</button>
        </div>
    </div>

    <div class="d-md-flex d-sm-block">
        <div class="flex-column flex-fill mr-md-1">
            <div class="input-group input-group-sm my-1">
                <div class="input-group-prepend">
                    <span class="input-group-text filter-range-text">Sell Price</span>
                </div>
                <input type="text" class="form-control" id="sellmin" name="sellmin" onkeyup="drawTable()" aria-label="From Amount" placeholder="From">
                <input type="text" class="form-control" id="sellmax" name="sellmax" onkeyup="drawTable()" aria-label="To Amount" placeholder="To">
            </div>

            <div class="input-group input-group-sm my-1">
                <div class="input-group-prepend">
                    <span class="input-group-text filter-range-text">Buy Price</span>
                </div>
                <input type="text" class="form-control" id="buymin" name="buymin" onkeyup="drawTable()" aria-label="From Amount" placeholder="From">
                <input type="text" class="form-control" id="buymax" name="buymax" onkeyup="drawTable()" aria-label="To Amount" placeholder="To">
            </div>

            <div class="input-group input-group-sm my-1">
                <div class="input-group-prepend">
                    <span class="input-group-text filter-range-text">Margin</span>
                </div>
                <input type="text" class="form-control" id="marginmin" name="marginmin" onkeyup="drawTable()" aria-label="From Amount" placeholder="From">
                <input type="text" class="form-control" id="marginmax" name="marginmax" onkeyup="drawTable()" aria-label="To Amount" placeholder="To">
            </div>
        </div>
        <div class="flex-column flex-fill ml-md-1">
            <div class="input-group input-group-sm my-1">
                <div class="input-group-prepend">
                    <span class="input-group-text filter-range-text">Craft Cost (Sell)</span>
                </div>
                <input type="text" class="form-control" id="craftcostsellmin" name="craftcostsellmin" onkeyup="drawTable()" aria-label="From Amount" placeholder="From">
                <input type="text" class="form-control" id="craftcostsellmax" name="craftcostsellmax" onkeyup="drawTable()" aria-label="To Amount" placeholder="To">
            </div>

            <div class="input-group input-group-sm my-1">
                <div class="input-group-prepend">
                    <span class="input-group-text filter-range-text">Craft Cost (Buy)</span>
                </div>
                <input type="text" class="form-control" id="craftcostbuymin" name="craftcostbuymin" onkeyup="drawTable()" aria-label="From Amount" placeholder="From">
                <input type="text" class="form-control" id="craftcostbuymax" name="craftcostbuymax" onkeyup="drawTable()" aria-label="To Amount" placeholder="To">
            </div>

            <div class="input-group input-group-sm my-1">
                <div class="input-group-prepend">
                    <span class="input-group-text filter-range-text">Crafting Margin</span>
                </div>
                <input type="text" class="form-control" id="carftingmarginmin" name="carftingmarginmin" onkeyup="drawTable()" aria-label="From Amount" placeholder="From">
                <input type="text" class="form-control" id="carftingmarginmax" name="carftingmarginmax" onkeyup="drawTable()" aria-label="To Amount" placeholder="To">
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="btn-group my-1 w-75">
            <button class="btn btn-sm btn-outline-secondary filter-preset active" id="defaultPreset" onclick="switchPreset('default')">Default</button>
            <button class="btn btn-sm btn-outline-secondary filter-preset" id="craftingPreset" onclick="switchPreset('crafting')">Crafting</button>
            <button class="btn btn-sm btn-outline-secondary filter-preset" id="flippingPreset" onclick="switchPreset('flipping')">Flipping</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        checkFilterSetting();

        $('#filterWrapper').removeClass('d-none');
    });

    function checkFilterSetting() {
        var keepDropdown = readSetting('dropdown');
        if (!keepDropdown) {

            $('#dropdownFilter').removeClass('d-flex');
            $('#dropdownFilter').addClass('d-none');

            $('#expandedFilter').removeClass('d-none');
            $('#expandedFilter').addClass('d-flex');
        }
    }

    // Keep dropdown open after selection
    $('.dropdown-menu').click(function (e) {
        e.stopPropagation();
    });
</script>