@using Crossout.Web
@using Crossout.Web.Models.Filter
@model Crossout.Web.Models.General.SearchModel

<div>
    <nav aria-label="Filter Buttons">
        <ul class="pagination pagination-sm" style="margin: 6px;">
            @foreach (FilterItem item in Model.FilterModel.Factions)
            {
                <li class="page-item"><a class="page-link filter-faction" href="#">@item.Name</a></li>
            }
        </ul>

        <ul class="pagination pagination-sm" style="margin: 6px;">
            @foreach (FilterItem item in Model.FilterModel.Rarities)
            {
                <li class="page-item"><a class="page-link filter-rarity" href="#">@item.Name</a></li>
            }
        </ul>

        <ul class="pagination pagination-sm" style="margin: 6px;">
            @foreach (FilterItem item in Model.FilterModel.Categories)
            {
                <li class="page-item"><a class="page-link filter-category" href="#">@item.Name</a></li>
            }
        </ul>

        <ul class="pagination pagination-sm" style="margin: 6px;">
            <li @(Model.FilterModel.CurrentShowRemovedItems ? "class=active page-item" : "class=page-item")><a class="page-link" href="~/search/@Model.UriRemovedItems(Model.FilterModel.CurrentShowRemovedItems)">Removed Items</a></li>
            <li @(Model.FilterModel.CurrentShowMetaItems ? "class=active page-item" : "class=page-item")><a class="page-link" href="~/search/@Model.UriMetaItems(Model.FilterModel.CurrentShowMetaItems)">Meta Items</a></li>
        </ul>
    </nav>
</div>

<div class="form-inline">
    <div class="col-md-3 form-group">
        Sell Price:
        <input type="number" class="form-control input-sm" id="sellmin" name="sellmin" placeholder="From" />
        <input type="number" class="form-control input-sm" id="sellmax" name="sellmax" placeholder="To" />
    </div>

    <div class="col-md-3 form-group">
        Buy Price:
        <input type="number" class="form-control input-sm" id="buymin" name="buymin" placeholder="From" />
        <input type="number" class="form-control input-sm" id="buymax" name="buymax" placeholder="To" />
    </div>

    <div class="col-md-3 form-group">
        Margin:
        <input type="number" class="form-control input-sm" id="marginmin" name="marginmin" placeholder="From" />
        <input type="number" class="form-control input-sm" id="marginmax" name="marginmax" placeholder="To" />
    </div>
</div>