@using System.Collections.Generic
@using System.Linq
@using Crossout.Model.Recipes
@using Crossout.Web
@using Crossout.AspWeb.Helper
@model Crossout.AspWeb.Models.Items.ItemModel

@{
    Layout = "_Layout";
}

<partial name="header" model="@Model" />
<partial name="status" model="@Model.Status" />

<div class="half-hd-container px-3">
    <div class="card my-1 p-1 d-flex flex-column">
        <div class="w-100 media m-1">
            <div class="align-self-center mr-3">
                <a href="~/item/@Model.Item.Id">
                    @if (Model.Item.HighResImageExists)
                    {
                        <img class="item-image-auto-size" src="~/img/items-highres/@Model.Item.Image" />
                    }
                    else if (Model.Item.ImageExists)
                    {
                        <img class="item-image-big" src="~/img/items/@Model.Item.Image" />
                    }
                    else
                    {
                        <img class="item-image-big" src="~/img/NoImage.png" />
                    }
                </a>
            </div>
            <div class="media-body align-self-center">
                <h4>@Model.Item.AvailableName</h4>
                @if (Model.Item.Description != null)
                {
                    <p>@Html.Raw(@Model.Item.Description.Text)</p>
                }
                @*<div>
                        <a href="https://twitter.com/intent/tweet?text=Prices for @(Model.Item.Name)%20Sell:%20@(Model.Item.FormatSellPrice)%20Buy:%20@(Model.Item.FormatBuyPrice)%20Margin:%20@(Model.Item.FormatMargin)&via=CrossoutDB&hashtags=crossout" class="btn btn-xs btn-info" role="button">Tweet Prices</a>
                    </div>*@
            </div>
        </div>

        <hr />

        <div>
            <div class="p-1">
                <div class="card d-inline-flex flex-column p-1 px-2 m-2">
                    <span class="font-weight-bold">Rarity</span>
                    <div class="align-items-center">
                        <span class="badge label-@Model.Item.RarityName">
                            @Model.Item.RarityName
                        </span>
                    </div>
                </div>
                <div class="card d-inline-flex flex-column p-1 px-2 m-2">
                    <span class="font-weight-bold">Faction</span>
                    <span>
                        @Model.Item.Faction
                    </span>
                </div>
                <div class="card d-inline-flex flex-column p-1 px-2 m-2">
                    <span class="font-weight-bold">Category</span>
                    <span>
                        @Model.Item.CategoryName
                    </span>
                </div>
                <div class="card d-inline-flex flex-column p-1 px-2 m-2">
                    <span class="font-weight-bold">Type</span>
                    <span>
                        @Model.Item.TypeName
                    </span>
                </div>
                <div class="card d-inline-flex flex-column p-1 px-2 m-2">
                    <span class="font-weight-bold">Available</span>
                    <span>
                        @(Model.Item.Removed == 0 ? "Yes" : "No")
                    </span>
                </div>
                <div class="card d-inline-flex flex-column p-1 px-2 m-2">
                    <span class="font-weight-bold">Craftable</span>
                    <span>
                        @(Model.Item.Craftable == 1 ? "Yes" : "No")
                    </span>
                </div>
                <div class="card d-inline-flex flex-column p-1 px-2 m-2">
                    <span class="font-weight-bold">Meta</span>
                    <span>
                        @(Model.Item.Meta == 1 ? "Yes" : "No")
                    </span>
                </div>
            </div>
        </div>

        <hr />

        <div>
            <div class="p-1">
                <div class="card d-inline-flex flex-column p-1 px-2 m-2">
                    <span class="font-weight-bold">Sell</span>
                    <span>
                        @Model.Item.FormatSellPrice <img height="14" src="~/img/Coin.png" />
                    </span>
                </div>
                <div class="card d-inline-flex flex-column p-1 px-2 m-2">
                    <span class="font-weight-bold">Offers</span>
                    <span>
                        @Model.Item.SellOffers
                    </span>
                </div>
                <div class="card d-inline-flex flex-column p-1 px-2 m-2">
                    <span class="font-weight-bold">Buy</span>
                    <span>
                        @Model.Item.FormatBuyPrice <img height="14" src="~/img/Coin.png" />
                    </span>
                </div>
                <div class="card d-inline-flex flex-column p-1 px-2 m-2">
                    <span class="font-weight-bold">Orders</span>
                    <span>
                        @Model.Item.BuyOrders
                    </span>
                </div>
                <div class="card d-inline-flex flex-column p-1 px-2 m-2">
                    <span class="font-weight-bold">Demand/Supply</span>
                    <span>
                        @(Model.Item.FormatDemandSupplyRatio)%
                    </span>
                </div>
                <div class="card d-inline-flex flex-column p-1 px-2 m-2">
                    <span class="font-weight-bold">Margin</span>
                    <span>
                        @Model.Item.FormatMargin <img height="14" src="~/img/Coin.png" />
                    </span>
                </div>
                <div class="card d-inline-flex flex-column p-1 px-2 m-2">
                    <span class="font-weight-bold">ROI</span>
                    <span>
                        @(Model.Item.FormatROI)%
                    </span>
                </div>
                <div class="card d-inline-flex flex-column p-1 px-2 m-2">
                    <span class="font-weight-bold">Last Update</span>
                    <span class="item-timestamp @(Model.Item.OlderThan(5) ? "item-older-than-5" : Model.Item.OlderThan(60) ? "item-older-than-60" : "")">
                        @(Model.Item.LastUpdateTime)
                    </span>
                </div>
            </div>
        </div>
    </div>

    @if (WebSettings.Settings.EnableAds)
    {
        <div class="d-flex my-1 justify-content-center">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-1215488197322962"
                 data-ad-slot="4105484332"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    }

</div>
<div id="itemTabsWrapper" class="half-hd-container px-3">
    <div class="card my-1">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="itemTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#chart" id="chart-tab" role="tab" aria-controls="chart" aria-selected="true">Chart</a>
                </li>
                @if (Model.Recipe.Recipe.Ingredients.Count > 0)
                {
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#recipenew" id="recipenew-tab" role="tab" aria-controls="recipenew" aria-selected="false">Crafting <div class="badge badge-pill badge-secondary">New</div></a>
                    </li>
                }
                @if (Model.Recipe.Recipe.Ingredients.Count > 0)
                {
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#recipe" id="recipe-tab" role="tab" aria-controls="recipe" aria-selected="false">Crafting <div class="badge badge-pill badge-secondary">Old</div></a>
                    </li>
                }
                @if (Model.IngredientUsage != null && Model.IngredientUsage.IngredientUsageList.Count > 0)
                {
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#ingredient" id="ingredient-tab" role="tab" aria-controls="ingredient" aria-selected="false">Usage</a>
                    </li>
                }
                @if (Model.Item.Stats != null && Model.Item.Stats.SortedStats.Count > 0)
                {
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#stats" id="stats-tab" role="tab" aria-controls="stats" aria-selected="false">Stats</a>
                    </li>
                }
                @if (Model.Changes.Changes.Count > 0)
                {
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#changes" id="changes-tab" role="tab" aria-controls="changes" aria-selected="false">Changes</a>
                    </li>
                }

            </ul>
        </div>

        <div class="tab-content" id="itemTabContent">

            <div class="tab-pane show active" id="chart" aria-labelledby="chart-tab">
                <partial name="chart" model="@Model" />
            </div>

            @if (Model.Recipe.Recipe.Ingredients.Count > 0)
            {
                <div class="tab-pane" id="recipenew" aria-labelledby="recipenew-tab">
                    <partial name="craftingcalc" model="@Model.Recipe" />
                </div>
            }

            @if (Model.Recipe.Recipe.Ingredients.Count > 0)
            {
                <div class="tab-pane" id="recipe" aria-labelledby="recipe-tab">
                    <div style="min-width: 740px">
                        <table class="table table-hover table-borderless">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Rarity
                                    </th>
                                    <th class="d-flex justify-content-between">
                                        <div class="">Number</div>
                                        <div class="">Sell Price</div>
                                    </th>
                                    <th>
                                    </th>
                                    <th class="d-flex justify-content-between">
                                        <div class="">Number</div>
                                        <div class="">Buy Price</div>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <partial name="recipepart" model="@Model.Recipe.Recipe" />
                            </tbody>
                        </table>
                        <div id="shopping-list-wrapper">
                            <table class="table table-hover table-borderless" id="shopping-list">
                                <thead>
                                    <tr>
                                        <th style="width: 15%">
                                            Name
                                        </th>
                                        <th style="width: 5%">
                                            Rarity
                                        </th>
                                        <th style="width: 10%">
                                            Number
                                        </th>
                                        <th style="width: 35%">
                                            <div>Sell Price</div>
                                        </th>
                                        <th style="width: 35%">
                                            <div>Buy Price</div>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                </div>
            }

            @if (Model.IngredientUsage != null && Model.IngredientUsage.IngredientUsageList.Count > 0)
            {
                <div class="tab-pane" id="ingredient" aria-labelledby="ingredient-tab">
                    <table id="ingredientUsageTable" class="table table-hover table-striped table-borderless">
                        <thead>
                            <tr>
                                <th>
                                    Item
                                </th>
                                <th>
                                    Amount
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.IngredientUsage.IngredientUsageList)
                            {
                                <tr>
                                    <td class="align-middle">
                                        <a href="~/item/@item.ItemId">
                                            @if (Model.Changes.ContainedItems[item.ItemId].ImageExists)
                                            {
                                                <img class="item-image-big" src="~/img/items/@(item.ItemId).png" />
                                            }
                                            else
                                            {
                                                <img class="item-image-big" src="~/img/NoImage.png" />
                                            }
                                        </a>
                                        <a href="~/item/@item.ItemId">@(Model.Changes.ContainedItems.ContainsKey(item.ItemId) == true ? Model.Changes.ContainedItems[item.ItemId].AvailableName : item.ItemId.ToString())</a>
                                    </td>
                                    <td class="align-middle">
                                        @item.Amount
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

            @if (Model.Item.Stats != null && Model.Item.Stats.SortedStats.Count > 0)
            {
                <div class="tab-pane" id="stats" aria-labelledby="stats-tab">

                    <div class="text-center alert-warning">
                        The stats are outdated and can't be updated anymore. Stats version: 0.9.135.91921
                    </div>

                    <table class="table table-hover table-striped table-borderless">
                        <thead>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Item.Stats.SortedStats)
                            {
                                if (item.DisplayValue && item.Stat.Type == Crossout.Data.StatType.Exposed)
                                {
                                    <tr>
                                        <td class="">@item.Stat.Name</td>
                                        <td><partial name="_stat" model="@item" /></td>
                                    </tr>
                                }
                            }
                            @foreach (var item in Model.Item.Stats.SortedStats)
                            {
                                if (item.DisplayValue && item.Stat.Type == Crossout.Data.StatType.Hidden)
                                {
                                    <tr>
                                        <td class="">@item.Stat.Name</td>
                                        <td><partial name="_stat" model="@item" /></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }

            @if (Model.Changes.Changes.Count > 0)
            {
                <div class="tab-pane" id="changes" aria-labelledby="changes-tab">
                    <partial name="changesmodular" model="@Model.Changes" />
                </div>
            }
        </div>
    </div>
</div>

<script src="~/scripts/internal/item.js?@(CacheBuster.Once)"></script>
<script src="~/scripts/internal/craftingcalc.js?@(CacheBuster.Once)"></script>
<script>
    $(document).ready(function () {
        adjustTimeStamp();
    });

    if (readSetting('full-size-item-tabs'))
        $('#itemTabsWrapper').removeClass('half-hd-container');

    $.getJSON(location.origin + '/data/recipe/@(Model.Item.Id)?l=' + Cookies.get('language'),
        function (data) {

            recipeData.data = data;
            recipeData.loaded = true;

            $(".item-0").removeClass("disabled");

            craftingCalcData.data = data;
            craftingCalcData.loaded = true;
            onDataLoaded();
        });
</script>
