@{
    Layout = "_Layout";
}

@using Crossout.Model.Items
@using Crossout.Web
@using Crossout.AspWeb.Models
@using Crossout.Data.KnightRiders
@model Crossout.AspWeb.Models.General.KnightRidersModel

<partial name="header" model="@Model" />
<partial name="status" model="@Model.Status" />

<div class="half-hd-container">
    <div class="row">
        @foreach (EventItem item in Model.EventItems)
        {
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card p-2 my-2">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="mr-1">
                                @if (item.Id != null)
                                {
                                    @if (Model.ContainedItems[(int)item.Id].ImageExists)
                                    {
                                        <a href="~/item/@(item.Id)"><img class="item-image-search" src="~/img/items/@(item.Id).png" /></a>
                                    }
                                    else
                                    {
                                        <a href="~/item/@(item.Id)"><img class="item-image-search" src="~/img/NoImage.png" /></a>
                                    }
                                }
                                else
                                {
                                    <img class="item-image-search" src="~/img/event/@(item.Key).png" />
                                }
                            </div>

                            <div>
                                @if (item.Id != null)
                                {
                                    <a href="~/item/@(item.Id)">@item.Name</a>
                                }
                                else
                                {
                                    @item.Name
                                }
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-outline-secondary btn-sm content-button pull-right" id="@(item.Key)">Show Ingredients</button>
                        </div>
                    </div>

                    <div id="content-wrapper-@(item.Key)" style="display: none; margin-bottom: 8px; margin-right: 8px">
                        <table class="table table-borderless table-compact">
                            <thead>
                                <tr>
                                    <th>
                                        Item
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    <th>
                                        Sell Price
                                    </th>
                                    <th>
                                        Buy Price
                                    </th>
                                </tr>
                            </thead>
                            @foreach (Ingredient ingredient in item.Ingredients)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex flex-row align-items-center my-1">
                                            @if (Model.ContainedItems[(int)ingredient.Id].ImageExists)
                                            {
                                                <a href="~/item/@(ingredient.Id)"><img class="item-image-med" src="~/img/items/@(ingredient.Id).png" /></a>
                                            }
                                            else
                                            {
                                                <a href="~/item/@(ingredient.Id)"><img class="item-image-med" src="~/img/NoImage.png" /></a>
                                            }
                                            <a href="~/item/@(ingredient.Id)"><span class="ml-1">@ingredient.Name</span></a>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        x @ingredient.Amount
                                    </td>
                                    <td class="align-middle">
                                        <div>@(ingredient.FormatSellPrice) <img src="~/img/Coin.png" height="14" /></div>
                                    </td>
                                    <td class="align-middle">
                                        <div>@(ingredient.FormatBuyPrice) <img src="~/img/Coin.png" height="14" /></div>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <table class="table table-borderless table-compact">
                        <thead>
                            <tr>
                                <th>

                                </th>
                                <th>
                                    Sell
                                </th>
                                <th>
                                    Buy
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Price</td>
                                <td>
                                    @if (item.Id != null)
                                    {
                                        <span style="color: red">@item.FormatSellPrice</span> <img src="~/img/Coin.png" height="14" />
                                    }
                                    else
                                    {
                                        <span>Untradeable</span>
                                    }
                                </td>
                                <td>
                                    @if (item.Id != null)
                                    {
                                        <span style="color: green">@item.FormatBuyPrice</span> <img src="~/img/Coin.png" height="14" />
                                    }
                                    else
                                    {
                                        <span>Untradeable</span>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>Ingredient Sum</td>
                                <td>
                                    <span style="color: red">@item.FormatSellSum</span> <img src="~/img/Coin.png" height="14" />
                                </td>
                                <td>
                                    <span style="color: green">@item.FormatBuySum</span> <img src="~/img/Coin.png" height="14" />
                                </td>
                            </tr>
                            <tr>
                                <td>Badges</td>
                                <td>@item.Talers</td>
                                <td>@item.Talers</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.content-button').click(function (e) {
            var content = $('#content-wrapper-' + $(this).attr('id'));
            if (content.is(":visible")) {
                $(this).text("Show Ingredients");
                content.slideUp();
            } else {
                $(this).text("Hide Ingredients");
                content.slideDown();
            }
        });
    });
</script>