@{
    Layout = "_Layout";
}

@using Crossout.Model.Items
@using Crossout.Web
@using Crossout.Web.Models
@using Crossout.Data.PremiumPackages
@model Crossout.Web.Models.General.PremiumPackagesModel


<partial name="header" model="@Model" />
<partial name="status" model="@Model.Status" />

<div class="half-hd-container px-3">

    <div class="my-1">
        <div class="d-flex justify-content-end">
            <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="sortButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sortButton">
                    <a class="dropdown-item sort-dropdown" id="nameSort" onclick="sortPacks('name', 'asc')">Name</a>
                    <a class="dropdown-item sort-dropdown" id="sumSort" onclick="sortPacks('sum', 'desc')">Item Sum</a>
                    <a class="dropdown-item sort-dropdown" id="coinsSort" onclick="sortPacks('coins', 'desc')">+ Coins</a>
                    <a class="dropdown-item sort-dropdown" id="totalSort" onclick="sortPacks('total', 'desc')">Total</a>
                    <a class="dropdown-item sort-dropdown" id="valueSort" onclick="sortPacks('value', 'desc')"><img src="~/img/Coin.png" height="14" />/USD</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="packageWrapper">
        @foreach (var package in Model.Packages)
        {
            <div class="col-md-6 col-sm-12 pack-container @(package.AppPrices.OlderThan(180) ? "discontinued" : "available")" data-packagename="@(package.Name)" data-packagevalue="@(package.AppPrices.Prices[0].FormatSellPriceDividedByCurrency)" data-packagecoins="@(package.RawCoins)" data-packagetotal="@(package.FormatTotalSellSum)" data-packagesum="@(package.FormatSellSum)">
                <div class="card my-1">
                    <div class="m-1 d-flex justify-content-between align-items-center">
                        <div>
                            <a href="https://store.steampowered.com/app/@(package.SteamAppID)">@package.Name</a>
                        </div>
                        <div>
                            <button class="btn btn-outline-secondary btn-sm content-button" id="@(package.Key)">Show Content</button>
                        </div>
                    </div>

                    <div class="mb-1">
                        <img class="img-overlay img-fluid" src="~/img/premiumpackages/@(package.Key).jpg" />
                        @if (package.AppPrices.Discount > 0)
                        {
                            <div class="img-overlay-bottom-right"><h4 class="discount p-1">-@(package.AppPrices.Discount)%</h4></div>
                        }
                    </div>

                    <div id="content-wrapper-@(package.Key)" style="display: none;">
                        <table class="table table-borderless table-condensed pack-table mx-1">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Sell</th>
                                    <th>Buy</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (int id in package.MarketPartIDs)
                                {

                                    <tr>
                                        <td>
                                            @if (Model.ContainedItems[id].ImageExists)
                                            {
                                                <a href="~/item/@(id)"><img class="item-image-med" src="~/img/items/@(id).png" /></a>
                                            }
                                            else
                                            {
                                                <a href="~/item/@(id)"><img class="item-image-med" src="~/img/NoImage.png" /></a>
                                            }
                                            <a href="~/item/@(id)">@Model.ContainedItems[id].Name</a>
                                        </td>
                                        <td>
                                            <div class="mx-auto" style="color: red">@(Model.ContainedItems[id].FormatSellPrice) <img src="~/img/Coin.png" height="14" /></div>
                                        </td>
                                        <td>
                                            <div class="mx-auto" style="color: green">@(Model.ContainedItems[id].FormatBuyPrice) <img src="~/img/Coin.png" height="14" /></div>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                    <table class="table table-borderless table-condensed pack-table mx-1">
                        <thead>
                            <tr>
                                <td></td>
                                <td class="font-weight-bold">Sell</td>
                                <td class="font-weight-bold">Buy</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="font-weight-bold text-right pr-3">Item Sum</td>
                                <td style="color: red">
                                    @package.FormatSellSum
                                    <img src="~/img/Coin.png" height="14" />
                                </td>
                                <td style="color: green">
                                    @package.FormatBuySum
                                    <img src="~/img/Coin.png" height="14" />
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold text-right pr-3">+ Coins</td>
                                <td>
                                    @package.RawCoins
                                    <img src="~/img/Coin.png" height="14" />
                                </td>
                                <td>
                                    @package.RawCoins
                                    <img src="~/img/Coin.png" height="14" />
                                </td>
                            </tr>
                            <tr class="mb-2">
                                <td class="font-weight-bold text-right pr-3">Total</td>
                                <td style="color: red">
                                    @package.FormatTotalSellSum
                                    <img src="~/img/Coin.png" height="14" />
                                </td>
                                <td style="color: green">
                                    @package.FormatTotalBuySum
                                    <img src="~/img/Coin.png" height="14" />
                                </td>
                            </tr>

                            @foreach (Currency price in package.AppPrices.Prices)
                            {
                                <tr>
                                    @if (price.Final != 0)
                                    {

                                        <td class="text-right pr-3">
                                            @(price.FormatFinal) @(price.CurrencyAbbriviation)
                                        </td>
                                        <td style="color: red">
                                            @(price.FormatSellPriceDividedByCurrency) <img src="~/img/Coin.png" height="14" />/@(price.CurrencyAbbriviation)
                                        </td>
                                        <td style="color: green">
                                            @(price.FormatBuyPriceDividedByCurrency) <img src="~/img/Coin.png" height="14" />/@(price.CurrencyAbbriviation)
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-right pr-3">
                                            N/A
                                        </td>
                                        <td></td>
                                        <td></td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center align-items-center m-1">
                        @*<div>
                                - @package.AppPrices.Discount %
                            </div>*@
                        <div class="d-inline-flex text-right">
                            <div class="mx-1">
                                Last Currency Update:
                            </div>
                            <div class="item-timestamp @(package.AppPrices.OlderThan(60) ? "item-older-than-5" : "") @(package.AppPrices.OlderThan(180) ? "item-older-than-60" : "")">
                                @package.AppPrices.FormatSuccessTimestamp
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>

    <hr />

    <div class="row" id="discontinuedWrapper"></div>
</div>

<script>
    $(document).ready(function () {
        placeDiscontinuedAtEnd();
        sortPacks('name', 'asc');
        adjustTimeStamp();
    });

    function sortPacks(type, order) {
        var activeClass = 'active';
        var $wrapper = $('#packageWrapper');
        $wrapper.find('.pack-container').sort(function (a, b) {
            if (type === 'value') {
                $('.sort-dropdown').removeClass(activeClass);
                $('#valueSort').addClass(activeClass);
                if (order === 'asc') {
                    return +a.dataset.packagevalue - +b.dataset.packagevalue;
                } else {
                    return +b.dataset.packagevalue - +a.dataset.packagevalue;
                }
            }
            else if (type === 'name') {
                $('.sort-dropdown').removeClass(activeClass);
                $('#nameSort').addClass(activeClass);
                if (order === 'asc') {
                    return a.dataset.packagename.localeCompare(b.dataset.packagename);
                } else {
                    return b.dataset.packagename.localeCompare(a.dataset.packagename);
                }
            }
            else if (type === 'coins') {
                $('.sort-dropdown').removeClass(activeClass);
                $('#coinsSort').addClass(activeClass);
                if (order === 'asc') {
                    return +a.dataset.packagecoins - +b.dataset.packagecoins;
                } else {
                    return +b.dataset.packagecoins - +a.dataset.packagecoins;
                }
            }
            else if (type === 'total') {
                $('.sort-dropdown').removeClass(activeClass);
                $('#totalSort').addClass(activeClass);
                if (order === 'asc') {
                    return +a.dataset.packagetotal - +b.dataset.packagetotal;
                } else {
                    return +b.dataset.packagetotal - +a.dataset.packagetotal;
                }
            }
            else if (type === 'sum') {
                $('.sort-dropdown').removeClass(activeClass);
                $('#sumSort').addClass(activeClass);
                if (order === 'asc') {
                    return +a.dataset.packagesum - +b.dataset.packagesum;
                } else {
                    return +b.dataset.packagesum - +a.dataset.packagesum;
                }
            }
        }).appendTo($wrapper);
    }

    function placeDiscontinuedAtEnd() {
        var $wrapper = $('#packageWrapper');
        var $discontinued = $('#discontinuedWrapper');
        $wrapper.find('.discontinued').appendTo($discontinued);
    }

    $('.content-button').click(function (e) {
        var content = $('#content-wrapper-' + $(this).attr('id'));
        if (content.is(":visible")) {
            $(this).text("Show Content");
            content.slideUp();
        } else {
            $(this).text("Hide Content");
            content.slideDown();
        }
    });
</script>