@{
    Layout = "_Layout";
}

@using Crossout.Model.Items
@using Crossout.Web
@using Crossout.Web.Models
@using Crossout.Data.PremiumPackages
@model Crossout.Web.Models.General.PremiumPackagesModel


<partial name="header" model="@Model" />
<partial name="status" model="@Model.Status" />

<div class="half-hd-container px-3">

    @foreach (var packageList in Model.Packages)
    {

        @switch (packageList.Key)
        {
            case 1:
                @Html.Raw("");
                break;
            case 2:
                @Html.Raw("<h3>Horsemen of Apocalypse</h3>");
                break;
            case 99:
                @Html.Raw("<h3>Discontinued</h3>");
                break;
            default:
                @Html.Raw("<h3>Unnamed</h3>");
                break;
        }
        <div class="row">
            @foreach (PremiumPackage package in packageList.Value)
            {
                <div class="col-md-6 col-sm-12">
                    <div class="card my-1">
                        <div class="m-1 d-flex justify-content-between align-items-center">
                            <div>
                                <a href="https://store.steampowered.com/app/@(package.SteamAppID)">@package.Name</a>
                            </div>
                            <div>
                                <button class="btn btn-outline-secondary btn-sm content-button" id="@(package.Key)">Show Content</button>
                            </div>
                        </div>

                        <div class="mb-1 d-flex justify-content-center">
                            <img class="img-fluid" src="~/img/premiumpackages/@(package.Key).jpg" />
                        </div>

                        <div id="content-wrapper-@(package.Key)" style="display: none;">
                            <table class="table table-borderless table-condensed pack-table mx-1">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Sell</th>
                                        <th>Buy</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (int id in package.MarketPartIDs)
                                    {

                                        <tr>
                                            <td>
                                                @if (Model.ContainedItems[id].ImageExists)
                                                {
                                                    <a href="~/item/@(id)"><img class="item-image-med" src="~/img/items/@(id).png" /></a>
                                                }
                                                else
                                                {
                                                    <a href="~/item/@(id)"><img class="item-image-med" src="~/img/NoImage.png" /></a>
                                                }
                                                <a href="~/item/@(id)">@Model.ContainedItems[id].Name</a>
                                            </td>
                                            <td>
                                                <div class="mx-auto" style="color: red">@(Model.ContainedItems[id].FormatSellPrice) <img src="~/img/Coin.png" height="14" /></div>
                                            </td>
                                            <td>
                                                <div class="mx-auto" style="color: green">@(Model.ContainedItems[id].FormatBuyPrice) <img src="~/img/Coin.png" height="14" /></div>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                        <table class="table table-borderless table-condensed pack-table mx-1">
                            <thead>
                                <tr>
                                    <td></td>
                                    <td class="font-weight-bold">Sell</td>
                                    <td class="font-weight-bold">Buy</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="font-weight-bold text-right pr-3">Item Sum</td>
                                    <td style="color: red">
                                        @package.FormatSellSum
                                        <img src="~/img/Coin.png" height="14" />
                                    </td>
                                    <td style="color: green">
                                        @package.FormatBuySum
                                        <img src="~/img/Coin.png" height="14" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold text-right pr-3">+ Coins</td>
                                    <td>
                                        @package.RawCoins
                                        <img src="~/img/Coin.png" height="14" />
                                    </td>
                                    <td>
                                        @package.RawCoins
                                        <img src="~/img/Coin.png" height="14" />
                                    </td>
                                </tr>
                                <tr class="mb-2">
                                    <td class="font-weight-bold text-right pr-3">Total</td>
                                    <td style="color: red">
                                        @package.FormatTotalSellSum
                                        <img src="~/img/Coin.png" height="14" />
                                    </td>
                                    <td style="color: green">
                                        @package.FormatTotalBuySum
                                        <img src="~/img/Coin.png" height="14" />
                                    </td>
                                </tr>

                                @foreach (Currency price in package.Prices)
                                {
                                    <tr>
                                        @if (price.Final != 0)
                                        {

                                            <td class="text-right pr-3">
                                                @(price.FormatFinal) @(price.CurrencyAbbriviation)
                                            </td>
                                            <td style="color: red">
                                                @(price.FormatSellPriceDividedByCurrency) <img src="~/img/Coin.png" height="14" />/@(price.CurrencyAbbriviation)
                                            </td>
                                            <td style="color: green">
                                                @(price.FormatBuyPriceDividedByCurrency) <img src="~/img/Coin.png" height="14" />/@(price.CurrencyAbbriviation)
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="text-right pr-3">
                                                N/A
                                            </td>
                                            <td></td>
                                            <td></td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $('.content-button').click(function (e) {
            var content = $('#content-wrapper-' + $(this).attr('id'));
            if (content.is(":visible")) {
                $(this).text("Show Content");
                content.slideUp();
            } else {
                $(this).text("Hide Content");
                content.slideDown();
            }
        });
    });
</script>