@using Crossout.AspWeb
@using Crossout.AspWeb.Helper
@using Crossout.AspWeb.Models
@using Crossout.AspWeb.Models.General
@model Crossout.AspWeb.Models.View.IViewTitle
@{
    SearchModel m = Model as SearchModel;
}

<div class="bg-dark sticky-top">
    <div class="half-hd-container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark pb-xs-1 py-sm-0" role="navigation">

            <a class="navbar-brand" href="/">
                <img alt="CrossoutDB Logo" title="@ViewHelper.GenerateTitle(Model)" class="crossoutdb-logo" src="~/img/crossoutdb_logo.png" />
            </a>

            @*Spacer to have the same height across devices*@
            <div style="height: 60px"></div>

            <div class="d-flex flex-fill">
                <input class="form-control w-100 mr-3 d-lg-none flex-fill" type="search" placeholder="Search" aria-label="Search" id="searchBarMobile">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav">
                    <li role="presentation" class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Packages" ? "active" : "")"><a class="nav-link" href="~/packs">Packs</a></li>
                    <li role="presentation" class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Tools" ? "active" : "")"><a class="nav-link" href="~/tools">Community Tools</a></li>
                    <li role="presentation" class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Changes" ? "active" : "")"><a class="nav-link" href="~/changes">Changes</a></li>
                    <li role="presentation" class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Settings" ? "active" : "")">
                        <a class="nav-link" href="~/settings">
                            <svg class="feather">
                                <use xlink:href="/icons/feather-sprite.svg#settings" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="d-none d-lg-block">
                <input class="form-control mr-1 ml-auto" type="search" placeholder="Search" aria-label="Search" size="30" id="searchBar">
            </div>

        </nav>
    </div>
</div>

<script>
    // Keep search bars in sync
    $('#searchBar, #searchBarMobile').keyup(function () {
        var value = this.value;
        if (this.id === 'searchBar') {
            $('#searchBarMobile').val(value);
        } else {
            $('#searchBar').val(value);
        }
    });

    // Redirect to main page if on other site
    $('#searchBar, #searchBarMobile').keyup(function (e) {
        if (@(ViewContext.RouteData.Values["Action"].ToString() != "Index" ? "true" : "false") && e.which === 13)
        {
            location.href = '/#search=' + this.value + '.';
        }
    });
</script>