@using System.Linq
@using Crossout.Web
@using Crossout.Model.Items;
@using Microsoft.Extensions.Hosting;
@model Crossout.Model.Items.Item
<tr class="selected-row" data-id="@Model.Id">
    <td>
        <div class="">
            <div>
                @if (Model.ImageExists) //(RootPathHelper.ImageExists(Url,Model.Image))
                {
                    <a href="~/item/@Model.Id">
                        <img class="pull-left item-image-search lazy" style="margin-right: 8px;" src="~/img/loading.png" data-src="/img/items/@Model.Image" />
                    </a>
                }
                else
                {
                    <a href="~/item/@Model.Id">
                        <img class="pull-left item-image-search" style="margin-right: 8px;" src="~/img/NoImage.png" />
                    </a>
                }
            </div>
            @*<div>
                <a href="~/item/@Model.Id"><h4 class="item-title @(Model.Removed > 0 ? "item-removed" : "")">@Model.Name @(Model.Removed > 0 ? "(Removed)" : "")</h4></a>
                @if(Context.CurrentUser != null && Context.CurrentUser.Claims.Contains("Admin")){
                    <a href="~/edit/@Model.Id">Edit</a>
                }
            </div>*@
            <div>
                <a href="~/item/@Model.Id"><span class="@(Model.Removed > 0 ? "item-removed" : "")">@Model.Name @(Model.Removed > 0 ? "(Removed)" : "")</span></a>
            </div>
        </div>
    </td>
    <td>
        <span class="badge label-@Model.RarityName">
            @Model.RarityName
        </span>
    </td>
    <td>
        <span>@Model.Faction</span>
    </td>
    <td>
        <span>@Model.CategoryName</span>
    </td>
    <td>
        <span>@Model.TypeName</span>
    </td>
    <td>
        <span>@Model.Popularity</span>
    </td>
    <td class="align-middle">
        @Model.FormatSellPrice <img height="14" src="~/img/Coin.png" />
    </td>
    <td class="align-middle">
        <div>@Model.SellOffers</div>
    </td>
    <td class="align-middle">
        <div>@Model.FormatBuyPrice <img height="14" src="~/img/Coin.png" /></div>
    </td>
    <td class="align-middle">
        <div>@Model.BuyOrders</div>
    </td>
    <td class="align-middle">
        <div>@Model.FormatMargin <img height="14" src="~/img/Coin.png" /></div>
    </td>
    <td class="align-middle">
        <div class="item-timestamp @(Model.OlderThan(5) ? "item-older-than-5" : "") @(Model.OlderThan(60) ? "item-older-than-60" : "")">@Model.LastUpdateTime</div>
    </td>
</tr>
