@using Crossout.Web
@using Crossout.Model.Items;
@using Crossout.Model.Recipes
@model Crossout.Model.Recipes.RecipeItem

@{
    Item item = Model.Item;
}

<tr class="recipe-part recipe-@(Model.ParentRecipe) @(Model.Depth > 0 || Model.IsSumRow ? "d-none" : "") @(Model.IsSumRow ? "sum-row" : "") depth-@Model.Depth" data-recipe="@Model.Item.RecipeId" data-parentuniqueid="@Model.ParentUniqueId" data-uniqueid="@Model.UniqueId" id="uniqueid-@Model.UniqueId">
    <td>
        <div class="d-flex">
            <div class="d-flex align-items-center mr-1">
                @for (int i = 0; i < Model.Depth; i++)
                {
                    <div style="margin-left: 16px;">&nbsp;</div>
                }
                @if (Model.IsSumRow)
                {
                    if (item.ImageExists)
                    {
                        <a href="~/item/@item.Id"><img class="item-image-med" src="~/img/items/@item.Image" /></a>
                    }
                    else
                    {
                        <a href="~/item/@item.Id"><img class="item-image-med" src="~/img/NoImage.png" /></a>
                    }
                }
                else  // Default Row
                {
                    if (Model.Ingredients.Count > 0)
                    {
                        if (Model.Depth == 0)
                        {
                            <button class="btn btn btn-outline-secondary tree-icon d-flex justify-content-center text-monospace align-items-center mr-1 folded-in disabled item-@Model.Id" data-recipe="@Model.Item.RecipeId" data-parentuniqueid="@Model.ParentUniqueId" data-uniqueid="@Model.UniqueId"></button>
                        }
                        else
                        {
                            <button class="btn btn btn-outline-secondary tree-icon d-flex justify-content-center text-monospace align-items-center mr-1 folded-in item-@Model.Id" data-recipe="@Model.Item.RecipeId" data-parentuniqueid="@Model.ParentUniqueId" data-uniqueid="@Model.UniqueId"></button>
                        }
                    }
                    else
                    {
                        <button class="btn btn btn-outline-secondary tree-icon d-flex justify-content-center text-monospace align-items-center mr-1 invisible">+</button>
                    }
                    @if (Model.Depth == 0)
                    {
                        if (item.ImageExists)
                        {
                            <a href="~/item/@item.Id"><img class="item-image-big" src="~/img/items/@item.Image" /></a>
                        }
                        else
                        {
                            <a href="~/item/@item.Id"><img class="item-image-big" src="~/img/NoImage.png" /></a>
                        }
                    }
                    else
                    {
                        if (item.ImageExists)
                        {
                            <a href="~/item/@item.Id"><img class="item-image-med" src="~/img/items/@item.Image" /></a>
                        }
                        else
                        {
                            <a href="~/item/@item.Id"><img class="item-image-med" src="~/img/NoImage.png" /></a>
                        }
                    }
                }
            </div>
            <div>
                @if (Model.IsSumRow)
                {
                    <a href="~/item/@item.Id">@item.AvailableName (Sum)</a>
                    <div class="item-type">@item.TypeName</div>
                }
                else
                {
                    if (Model.Depth == 0)
                    {
                        <a href="~/item/@Model.Item.Id"><span class="@(Model.Item.Removed > 0 ? "item-removed" : "")">@Model.Item.AvailableName @(Model.Item.Removed > 0 ? "(Removed)" : "")</span></a>
                        <div class="item-type">@Model.Item.TypeName</div>
                    }
                    else
                    {
                        <a href="~/item/@item.Id">@item.AvailableName</a>
                        <div class="item-type">@item.TypeName</div>
                    }
                }
            </div>
        </div>
    </td>
    <td>
        <span class="badge label-@item.RarityName">@item.RarityName</span>
    </td>
    <td>
        @if (Model.IsSumRow || Model.Depth == 0)
        {
            if (Model.IsSumRow)
            {
                <div class="d-flex justify-content-between">
                    <div>
                        <div>
                            Price -10 %
                        </div>
                        <div>
                            Cost
                        </div>
                        <div>
                            Profit
                        </div>
                        <div>
                            Crafting Margin
                        </div>
                    </div>
                    <div>
                        <div class="recipe-price text-right">
                            <div class="text-right sum-value sum-sell-fee">

                            </div>
                            <img height="14" src="~/img/Coin.png" />
                        </div>
                        <div class="recipe-price text-right">
                            <div class="text-right sum-value sum-sell">
                                @Model.Item.FormatSellPrice
                            </div>
                            <img height="14" src="~/img/Coin.png" />
                        </div>
                        <div class="recipe-price text-right">
                            <div class="text-right sum-value sum-sell-diff">
                            </div>
                            <img height="14" src="~/img/Coin.png" />
                        </div>
                        <div class="recipe-price text-right">
                            <div class="text-right sum-value sum-sell-buy-diff">
                            </div>
                            <img height="14" src="~/img/Coin.png" />
                        </div>
                    </div>
                </div>

            }
            else
            {
                <div class="d-flex justify-content-end">
                    <div class="recipe-price text-right">
                        <div class="text-right sum-value sum-sell">
                            @Model.Item.FormatSellPrice
                        </div>
                        <img height="14" src="~/img/Coin.png" />
                    </div>
                </div>
            }
        }
        else
        {
            <div class="d-flex justify-content-between">
                <div>
                    @Model.Number x
                </div>
                <div>
                    <div class="recipe-price text-right">
                        @Model.Item.FormatSellPrice <img height="14" src="~/img/Coin.png" />
                    </div>
                    <div class="recipe-price text-right">
                        = @Model.FormatSellPriceTimesNumber <img height="14" src="~/img/Coin.png" />
                    </div>
                </div>
            </div>
        }
    </td>
    <td>
    </td>
    <td>
        @if (Model.IsSumRow || Model.Depth == 0)
        {
            if (Model.IsSumRow)
            {
                <div class="d-flex justify-content-between">
                    <div>
                        <div>
                            Price -10 %
                        </div>
                        <div>
                            Cost
                        </div>
                        <div>
                            Profit
                        </div>
                        <div>
                            Advice
                        </div>
                    </div>
                    <div>
                        <div class="recipe-price text-right">
                            <div class="text-right sum-value sum-buy-fee">

                            </div>
                            <img height="14" src="~/img/Coin.png" />
                        </div>

                        <div class="recipe-price text-right">
                            <div class="text-right sum-value sum-buy">
                                @Model.Item.FormatBuyPrice
                            </div>
                            <img height="14" src="~/img/Coin.png" />
                        </div>

                        <div class="recipe-price text-right">
                            <div class="text-right sum-value sum-buy-diff">
                            </div>
                            <img height="14" src="~/img/Coin.png" />
                        </div>

                        <div class="text-right">
                            <div class="text-right sum-value sum-advice">
                            </div>
                        </div>
                    </div>
                </div>

            }
            else
            {
                <div class="d-flex justify-content-end">
                    <div class="recipe-price text-right">
                        <div class="text-right sum-value sum-buy">
                            @Model.Item.FormatBuyPrice
                        </div>
                        <img height="14" src="~/img/Coin.png" />
                    </div>
                </div>
            }
        }
        else
        {
            <div class="d-flex justify-content-between">
                <div>
                    @Model.Number x
                </div>
                <div>
                    <div class="recipe-price text-right">
                        @Model.Item.FormatBuyPrice <img height="14" src="~/img/Coin.png" />
                    </div>
                    <div class="recipe-price text-right">
                        = @Model.FormatBuyPriceTimesNumber <img height="14" src="~/img/Coin.png" />
                    </div>
                </div>
            </div>
        }
    </td>
    @*<td>
            <div>
                @Model.Item.FormatMargin <img height="14" src="~/img/Coin.png" />
            </div>
        </td>*@
</tr>

@if (Model.Ingredients.Count > 0) //We only need this script on + Button Nodes
{
    <script>
        $(document).ready(function() {
            var classname = 'recipe-@Model.Item.RecipeId';
            $('#uniqueid-@Model.UniqueId').find('.item-@Model.Id').click(function () {
                if (recipeData.loaded) {
                    var recipe = $(this).data('recipe');
                    var uniqueid = $(this).data('uniqueid');

                    if ($(this).hasClass('folded-in')) {
                        $(this).removeClass('folded-in').addClass('folded-out');
                        window.updateTree(classname, recipe, uniqueid, true);
                        window.updateSums(recipe, uniqueid);
                        if($(this).data('uniqueid') === 0) {
                            $('#shopping-list-wrapper').show();
                        }
                    } else {
                        $(this).removeClass('folded-out').addClass('folded-in');
                        window.updateTree(classname, recipe, uniqueid, false);
                        window.updateSums(recipe, uniqueid);
                        if ($(this).data('uniqueid') === 0) {
                            $('#shopping-list-wrapper').hide();
                        }
                    }
                }
            });
        });
    </script>
}

@if (Model != null && Model.Ingredients.Count > 0)
{
    foreach (var modelIngredient in Model.Ingredients)
    {
        <partial name="recipepart" model="@modelIngredient" />
    }
}
@if (Model.IngredientSum != null)
{
    <partial name="recipepart" model="@Model.IngredientSum" />
}