@using Crossout.Model.Items
@using Crossout.AspWeb
@using Crossout.AspWeb.Models
@using Crossout.AspWeb.Models.Info

@{
    Layout = "_Layout";
}

@model Crossout.AspWeb.Models.Info.InfoModel
@{ 
    var loc = Model.Localizations;
}

<partial name="header" model="@Model" />

<div class="half-hd-container px-3">
    <div class="card my-1">
        <h4 class="card-title m-2"><loc model="loc" category="info" name="title.dataupdatetimes">Data Update Times</loc></h4>

        @foreach (var timestamp in Model.LastUpdateTimes)
        {
            <div class="d-flex flex-row justify-content-between m-2">
                <div>
                    @timestamp.Name
                </div>
                <div class="item-timestamp">
                    @timestamp.FormatTimestamp
                </div>
            </div>
        }
    </div>

    <div class="card my-1">
        <h4 class="card-title m-2"><loc model="loc" category="info" name="title.thankscontributors">Special Thanks to our Contributors!</loc></h4>

        <div class="row">
            @foreach (var contributor in Model.Contributors)
            {
                <div class="col col-6 col-md-3">
                    <div class="m-2">
                        @if (contributor.Link != null)
                        {
                            <a href="@contributor.Link">@contributor.Name</a>
                        }
                        else
                        {
                            @contributor.Name
                        }
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="card my-1">
        <h4 class="card-title m-2"><loc model="loc" category="info" name="title.patchnotes">Patch Notes</loc></h4>

        <div id="updateCardText" class="update-card-preview">
            @foreach (var update in Model.UpdateNotes)
            {
                <div class="m-2">
                    <h5>
                        @update.Name
                        <small class="text-muted"><loc model="loc" category="info" name="label.timestamp.from">from</loc> <span class="timestamp">@update.FormatTimestamp</span></small>
                    </h5>
                    <ul>
                        @foreach (var note in update.Notes)
                        {
                            <li>@note</li>
                        }
                    </ul>
                </div>
            }
        </div>

        <div class="d-flex justify-content-center mb-1"><button class="btn btn-sm btn-outline-secondary update-notes-show-more-btn"><loc model="loc" category="info" name="button.showallnotes">Show all</loc></button></div>
    </div>

    <div class="card my-1">
        <h4 class="card-title m-2"><loc model="loc" category="info" name="title.itemchanges">Item Changes</loc></h4>

        <partial name="changesmodular" model="@Model.ChangesModel" />
    </div>
</div>

<script>
    $(document).ready(function () {
        adjustTimeStamp();
    });

    $('.update-notes-show-more-btn').click(function () {
        $('#updateCardText').removeClass('update-card-preview');
        $(this).addClass('d-none');
    });
</script>
