@using Crossout.Web
@using Crossout.Web.Models.Filter
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Crossout.Web.Models.General.SearchModel>

<div>
    <ul class="pagination pagination-sm" style="margin: 6px;">
        @foreach (FilterItem item in Model.FilterModel.Factions)
        {
            <li><a class="filter-faction" href="#">@item.Name</a></li>
        }
    </ul>

    <ul class="pagination pagination-sm" style="margin: 6px;">
        @foreach (FilterItem item in Model.FilterModel.Rarities)
        {
            <li><a class="filter-rarity" href="#">@item.Name</a></li>
        }
    </ul>

    <ul class="pagination pagination-sm" style="margin: 6px;">
        @foreach (FilterItem item in Model.FilterModel.Categories)
        {
            <li><a class="filter-category" href="#">@item.Name</a></li>
        }
    </ul>

    <ul class="pagination pagination-sm" style="margin: 6px;">
        <li @(Model.FilterModel.CurrentShowRemovedItems ? "class=active" : "")><a href="~/search/@Model.UriRemovedItems(Model.FilterModel.CurrentShowRemovedItems)">Removed Items</a></li>
        <li @(Model.FilterModel.CurrentShowMetaItems ? "class=active" : "")><a href="~/search/@Model.UriMetaItems(Model.FilterModel.CurrentShowMetaItems)">Meta Items</a></li>
    </ul>
</div>

<div>
    <ul class="pagination pagination-sm" style="margin: 6px;">
        <li class="active"><a class="colvis colvis-name" href="#">Name</a></li>
        <li class="active"><a class="colvis colvis-rarity" href="#">Rarity</a></li>
        <li class="active"><a class="colvis colvis-faction" href="#">Faction</a></li>
        <li><a class="colvis colvis-category" href="#">Category</a></li>
        <li class="active"><a class="colvis colvis-type" href="#">Type</a></li>
        <li class="active"><a class="colvis colvis-popularity" href="#">Popularity</a></li>
        <li class="active"><a class="colvis colvis-sellprice" href="#">Sell Price</a></li>
        <li class="active"><a class="colvis colvis colvis-selloffers" href="#">Sell Offers</a></li>
        <li class="active"><a class="colvis colvis-buyprice" href="#">Buy Price</a></li>
        <li class="active"><a class="colvis colvis-buyorders" href="#">Buy Orders</a></li>
        <li class="active"><a class="colvis colvis-margin" href="#">Margin</a></li>
        <li class="active"><a class="colvis colvis-lastupdate" href="#">Last Update</a></li>
    </ul>
</div>

<div class="form-inline">
    <div class="col-md-3 form-group">
        Sell Price: 
        <input type="number" class="form-control input-sm" id="sellmin" name="sellmin" placeholder="From" />
        <input type="number" class="form-control input-sm" id="sellmax" name="sellmax" placeholder="To" />
    </div>

    <div class="col-md-3 form-group">
        Buy Price:
        <input type="number" class="form-control input-sm" id="buymin" name="buymin" placeholder="From" />
        <input type="number" class="form-control input-sm" id="buymax" name="buymax" placeholder="To" />
    </div>

    <div class="col-md-3 form-group">
        Margin:
        <input type="number" class="form-control input-sm" id="marginmin" name="marginmin" placeholder="From" />
        <input type="number" class="form-control input-sm" id="marginmax" name="marginmax" placeholder="To" />
    </div>
</div>