@using Crossout.Web
@using Crossout.Web.Models.Filter
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Crossout.Web.Models.General.SearchModel>


<div class="col-md-3">
    <ul class="pagination pagination-sm" style="margin: 3px;">
        <li><a href="~/search/@Model.UriFaction("")">X</a></li>
        @foreach (FilterItem item in Model.FilterModel.Factions)
        {
            <li @(item.Active ? "class=active" : "")><a href="~/search/@Model.UriFaction(item.NameUri)">@item.Name</a></li>
        }
    </ul>
</div>

<div class="col-md-3">
    <ul class="pagination pagination-sm" style="margin: 3px;">
        <li><a href="~/search/@Model.UriRarity("")">X</a></li>
        @foreach (FilterItem item in Model.FilterModel.Rarities)
        {
            <li class="@(item.Active ? "active" : "")"><a href="~/search/@Model.UriRarity(item.NameUri)">@item.Name</a></li>
        }
    </ul>
</div>

<div class="col-md-4">
    <ul class="pagination pagination-sm" style="margin: 3px;">
        <li><a href="~/search/@Model.UriCategory("")">X</a></li>
        @foreach (FilterItem item in Model.FilterModel.Categories)
        {
            <li @(item.Active ? "class=active" : "")><a href="~/search/@Model.UriCategory(item.NameUri)">@item.Name</a></li>
        }
    </ul>
</div>

<div class="col-md-1">
    <ul class="pagination pagination-sm" style="margin: 3px;">
        <li @(Model.FilterModel.CurrentShowRemovedItems ? "class=active" : "")><a href="~/search/@Model.UriRItems(Model.FilterModel.CurrentShowRemovedItems)">Removed Items</a></li>
    </ul>
</div>