@using Crossout.Web
@using Crossout.Web.Models.Filter
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Crossout.Web.Models.General.SearchModel>

<div>
    <ul class="pagination pagination-sm" style="margin: 6px;">
        <li><a href="~/search/@Model.UriFaction("")">X</a></li>
        @foreach (FilterItem item in Model.FilterModel.Factions)
        {
            <li @(item.Active ? "class=active" : "")><a href="~/search/@Model.UriFaction(item.NameUri)">@item.Name</a></li>
        }
    </ul>

    <ul class="pagination pagination-sm" style="margin: 6px;">
        <li><a href="~/search/@Model.UriRarity("")">X</a></li>
        @foreach (FilterItem item in Model.FilterModel.Rarities)
        {
            <li class="@(item.Active ? "active" : "")"><a href="~/search/@Model.UriRarity(item.NameUri)">@item.Name</a></li>
        }
    </ul>

    <ul class="pagination pagination-sm" style="margin: 6px;">
        <li><a href="~/search/@Model.UriCategory("")">X</a></li>
        @foreach (FilterItem item in Model.FilterModel.Categories)
        {
            <li @(item.Active ? "class=active" : "")><a href="~/search/@Model.UriCategory(item.NameUri)">@item.Name</a></li>
        }
    </ul>

    <ul class="pagination pagination-sm" style="margin: 6px;">
        <li @(Model.FilterModel.CurrentShowRemovedItems ? "class=active" : "")><a href="~/search/@Model.UriRemovedItems(Model.FilterModel.CurrentShowRemovedItems)">Removed Items</a></li>
        <li @(Model.FilterModel.CurrentShowMetaItems ? "class=active" : "")><a href="~/search/@Model.UriMetaItems(Model.FilterModel.CurrentShowMetaItems)">Meta Items</a></li>
    </ul>
</div>

<div class="form-inline">
    <div class="col-md-3 form-group">
        Sell Price: 
        <input type="number" class="form-control input-sm" id="sellmin" name="sellmin" placeholder="From" />
        <input type="number" class="form-control input-sm" id="sellmax" name="sellmax" placeholder="To" />
    </div>

    <div class="col-md-3 form-group">
        Buy Price:
        <input type="number" class="form-control input-sm" id="buymin" name="buymin" placeholder="From" />
        <input type="number" class="form-control input-sm" id="buymax" name="buymax" placeholder="To" />
    </div>

    <div class="col-md-3 form-group">
        Margin:
        <input type="number" class="form-control input-sm" id="marginmin" name="marginmin" placeholder="From" />
        <input type="number" class="form-control input-sm" id="marginmax" name="marginmax" placeholder="To" />
    </div>
</div>