@using Crossout.Web
@using Crossout.Model.Items;
@using Crossout.Model.Recipes
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Crossout.Model.Recipes.RecipeItem>

@{
    Item item = Model.Item;
}

<tr class="recipe-part recipe-@(Model.ParentRecipe) @(Model.Depth > 0 || Model.IsSumRow ? "collapse" : "") @(Model.IsSumRow ? "sum-row" : "") depth-@Model.Depth" data-recipe="@Model.Item.RecipeId" data-parentuniqueid="@Model.ParentUniqueId" data-uniqueid="@Model.UniqueId" id="uniqueid-@Model.UniqueId">
    <td>
        <div class="clearfix content-heading">
            <div class="clearfix vertical-center pull-left">
                @for (int i = 0; i < Model.Depth; i++)
                {
                    <div style="margin-left: 26px;">&nbsp;</div>
                }
                @if (Model.IsSumRow)
                {
                    <a href="~/item/@item.Id"><img style="margin-right: 8px; height: 32px;" src="~/img/items/@item.Image" /></a>
                }
                else  // Default Row
                {
                    if (Model.Ingredients.Count > 0)
                    {
                        if (Model.Depth == 0)
                        {
                            <button class="btn btn-xs btn-main tree-icon glyphicon glyphicon-plus item-@Model.Id" data-recipe="@Model.Item.RecipeId" data-parentuniqueid="@Model.ParentUniqueId" data-uniqueid="@Model.UniqueId"></button>
                        }
                        else
                        {
                            <button class="btn btn-xs btn-sub tree-icon glyphicon glyphicon-plus item-@Model.Id" data-recipe="@Model.Item.RecipeId" data-parentuniqueid="@Model.ParentUniqueId" data-uniqueid="@Model.UniqueId"></button>
                        }
                    }
                    <div>
                        @if (Model.Depth == 0)
                        {
                            <a href="~/item/@item.Id"><img style="margin-right: 8px;" src="~/img/items/@item.Image" /></a>
                        }
                        else
                        {
                            <a href="~/item/@item.Id"><img style="margin-right: 8px; height: 32px;" src="~/img/items/@item.Image" /></a>
                        }
                    </div>
                }
            </div>
            @if (Model.IsSumRow)
            {
                <a href="~/item/@item.Id" style="font-weight: bold;">@item.Name (Sum)</a>
                <div style="font-size: 11px; font-weight: bold;">@item.TypeName</div>
            }
            else
            {
                if (Model.Depth == 0)
                {
                    <a href="~/item/@Model.Item.Id"><h4 style="font-weight: bold;">@Model.Item.Name</h4></a>
                    <div style="font-weight: bold;">@Model.Item.TypeName</div>
                }
                else
                {
                    <a href="~/item/@item.Id" style="font-weight: bold;">@item.Name</a>
                    <div style="font-size: 11px; font-weight: bold;">@item.TypeName</div>
                }
            }
        </div>
    </td>
    <td>
        <span class="label label-@item.RarityName">@item.RarityName</span>
    </td>
    <td class="col-md-2">
        @if (Model.IsSumRow || Model.Depth == 0)
        {
            if (Model.IsSumRow)
            {
                <div class="recipe-price label-md rec-right">
                    <div class="text-right sum-value sum-sell">
                        @Model.Item.FormatSellPrice
                    </div>
                    <img height="14" src="~/img/Coin.png" />
                </div>
                <div class="label-md pull-left">
                    -10 %
                </div>
                <div class="recipe-price label-md rec-right">
                    <div class="text-right sum-value sum-sell-fee">
                        
                    </div>
                    <img height="14" src="~/img/Coin.png" />
                </div>
                <div class="label-md pull-left">
                    Profit
                </div>
                <div class="recipe-price label-md rec-right">
                    <div class="text-right sum-value sum-sell-diff">
                        =
                    </div>
                    <img height="14" src="~/img/Coin.png" />
                </div>
            }
            else
            {
                <div class="recipe-price label-md rec-right">
                    <div class="text-right sum-value sum-sell">
                        @Model.Item.FormatSellPrice
                    </div>
                    <img height="14" src="~/img/Coin.png" />
                </div>
            }
        }
        else
        {
            <div class="label-md pull-left">
                @Model.Number x
            </div>
            <div class="recipe-price label-md rec-right">
                @Model.Item.FormatSellPrice <img height="14" src="~/img/Coin.png" />
            </div>
            <div class="recipe-price label-md rec-right">
                = @Model.FormatSellPriceTimesNumber <img height="14" src="~/img/Coin.png" />
            </div>
        }
    </td>
    <td>
        
    </td>
    <td class="col-md-2">
        @if (Model.IsSumRow || Model.Depth == 0)
        {
            if (Model.IsSumRow)
            {
                <div class="recipe-price label-md rec-right">
                    <div class="text-right sum-value sum-buy">
                        @Model.Item.FormatBuyPrice
                    </div>
                    <img height="14" src="~/img/Coin.png" />
                </div>
                <div class="label-md pull-left">
                    -10 %
                </div>
                <div class="recipe-price label-md rec-right">
                    <div class="text-right sum-value sum-buy-fee">
                        
                    </div>
                    <img height="14" src="~/img/Coin.png" />
                </div>
                <div class="label-md pull-left">
                    Profit
                </div>
                <div class="recipe-price label-md rec-right">
                    <div class="text-right sum-value sum-buy-diff">
                        =
                    </div>
                    <img height="14" src="~/img/Coin.png" />
                </div>
            }
            else
            {
                <div class="recipe-price label-md rec-right">
                    <div class="text-right sum-value sum-buy">
                        @Model.Item.FormatBuyPrice
                    </div>
                    <img height="14" src="~/img/Coin.png" />
                </div>
            }
        }
        else
        {
            <div class="label-md pull-left">
                @Model.Number x
            </div>
            <div class="recipe-price label-md rec-right">
                @Model.Item.FormatBuyPrice <img height="14" src="~/img/Coin.png" />
            </div>
            <div class="recipe-price label-md rec-right">
                = @Model.FormatBuyPriceTimesNumber <img height="14" src="~/img/Coin.png" />
            </div>
        }
    </td>
</tr>


<script>
    $(document).ready(function() {
        var classname = 'recipe-@Model.Item.RecipeId';
        $('#uniqueid-@Model.UniqueId').find('.item-@Model.Id').click(function () {
            var recipe = $(this).data('recipe');
            var uniqueid = $(this).data('uniqueid');
            
            if ($(this).hasClass('glyphicon-plus')) {
                $(this).removeClass('glyphicon-plus').addClass('glyphicon-minus');
                window.updateTree(classname, recipe, uniqueid, true);
                window.updateSums(recipe, uniqueid);
            } else {
                $(this).removeClass('glyphicon-minus').addClass('glyphicon-plus');
                window.updateTree(classname, recipe, uniqueid, false);
                window.updateSums(recipe, uniqueid);
            }
        });
    });
</script>