@{
    Layout = "layout.cshtml";
}

@using Crossout.Model.Items
@using Crossout.Web
@using Crossout.Web.Models
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Crossout.Web.Models.General.SearchModel>


@Html.Partial("header", Model)

@Html.Partial("status", Model.Status)



<div class="container-space">
    <div class="panel panel-default">
        <div class="panel-body">
            @Html.Partial("filter", Model)
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center" style="margin-bottom: 20px;">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Leaderboard -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-1215488197322962"
                 data-ad-slot="3124709022"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>

    <div class="panel panel-default">
        <table id="ItemTable" class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Rarity
                    </th>
                    <th>
                        Faction
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Type
                    </th>
                    <th class="text-right">
                        Popularity
                    </th>
                    <th class="text-right">
                        Sell Price
                    </th>
                    <th class="text-right">
                        Sell Offers
                    </th>
                    <th class="text-right">
                        Buy Price
                    </th>
                    <th class="text-right">
                        Buy Orders
                    </th>
                    <th class="text-right">
                        Margin
                    </th>
                    <th class="text-right">
                        Last Update
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (Item item in Model.SearchResult)
                {
                    @Html.Partial("itempart", item)
                }
            </tbody>
        </table>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            @Html.Partial("filter", Model)
        </div>
    </div>
</div>

<script src="~/Scripts/Internal/locationhash.js"></script>
<script src="~/Scripts/Internal/search.js"></script>
