@using System.Globalization
@using Crossout.Data
@model Crossout.Data.Stats.Main.SingleStat

@if (Model != null)
{
    if (Model.Stat.ShowProgressBar)
    {
        <div class="progress progress-small">
            <div class="progress-bar" role="progressbar" style="width: @Model.Value%" aria-valuenow="@Model.Value" aria-valuemin="0" aria-valuemax="100">@Model.Value%</div>
        </div>
    }
    else
    {
        <span class="@Model.Stat.CustomClasses">
            @((Model.Stat.ShowAddition) ? "+" : "")
            @((Model.Stat.ShowSubtraction) ? "-" : "")
            @string.Format(CultureInfo.InvariantCulture, "{0}", Model.Value)
            @((Model.Stat.ShowPercentage) ? "%" : "")
        </span>
    }
}
else
{
    <span></span>
}